.about {
    max-height: 47.3rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.about__text {
    margin: 7.1875rem 3rem 0 3.125rem;
    height: 47.5rem;
}

.about__text h2 {
    margin: 0;

    font-size: 1.5625rem;
    line-height: 1.9375rem;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
}

.about__text p {


    font-size: 1.0625rem;
    line-height: 1.6875rem;
    color: #333333;
    font-weight: 400;
    font-family: "Roboto";

}

.about__man {
    margin: 2.8125rem -4.6875rem 0 0;
}


.counter__info h2 {
    font-size: 1.5625rem;
    line-height: 1.9375rem;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
    margin: 0;
    text-align: center;
    padding-top: 5.5625rem;
    padding-bottom: 2.8125rem;
}

.counter__info img {
    padding-bottom: 5.625rem;
}

.video {
    margin: 5.375rem;
}